/* styles.css */
.underline-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: text-decoration 0.2s;
}
.underline-link:hover {
    text-decoration: underline;
}
